<ul>
  <% if flash[:error] %>
  <% flash[:error].each do |error| %>
  <li><%= error %> </li>
  <% end %>
  <% end %>

</ul>

<%= form_for @comment do |f| %>
<%= f.label :content %>
<%= f.text_field :content %>


<%= f.collection_select :teacher_id, @teachers, :id, :username %>
<%= f.collection_select :student_id, @students, :id, :name %>

<%= f.submit %>

<% end %>
