### We can add a search bar so a teacher can search for a student
<h3>Total Comments: <%= Comment.comment_count %></h3>
<ul>
  <% @comments.all.each do |comment| %>
   <li>Teacher: <%= comment.teacher.username %> | Student: <%= link_to comment.student.name, comment.student %> | Comment: <%= link_to comment.content, comment %> </li>
  <% end %>
</ul>

<%= link_to new_comment_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Add Another Comment
<% end %>
