<h2>Comment for: <%= link_to @comment.student.name, @comment.student %> | From : <%= @comment.teacher.username %></h2><br>

<h4>Comment: <%= @comment.content %></h4><br>

<%= link_to 'Edit Comment', edit_comment_path(@comment), class: 'btn btn-warning'  %>
<%= link_to 'Delete Comment', comment_path(@comment), method: :delete, class: 'btn btn-danger'  %>

<%= link_to new_comment_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Add Another Comment
<% end %>



<%= link_to new_rating_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Create Rating
<% end %>

<%= form_tag("/likes", method: "post", class:"btn btn-info") do %>
<i class="glyphicon glyphicon-thumbs-up"></i>
<!--  posts to likes#create-->
<%= hidden_field_tag 'like[teacher_id]' , session[:teacher_id]%>
<%= hidden_field_tag 'like[comment_id]' , params[:id]%>
<%= submit_tag("Like")%>
<% end %>
<p>Comment has <%= @comment.likes.count %> likes.</p>
