<h2>School Rankings</h2>

<h3>Top Student: <%= @top_student  %></h3>
<h3>Student with Most Effort: <%= @highest_effort %></h3><br>
<h3>Worst Student: <%= @worst_student %></h3>
<h3>Student with Lowest Effort: <%= @lowest_effort %></h3><br>

<h3>Average GPA: <%= @averagegpa %></h3>
<h3>Average Behavior: <%= @avg_discipline %></h3><br>

<h3>Most Popular Learning Style: <%=@pop_learning_style %></h3>
