<h1><%= @student.name%></h1>
  <ul>
    #Method for Student's Best Subject?<br>
    <% @student.ratings.each do |rating| %>
    <h3>Rating</h3>
       <li>Behavior: <%= rating.discipline %></li>
       <li>Learning Style: <%= rating.learning_style %></li>
       <li>Effort: <%= rating.grit %></li>
       <li>Subject: <%= rating.subject%></li>
       <li>Final Grade: <%= rating.gpa %></li>
    <% end %>

  </ul>

  <%= link_to new_comment_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-plus"></i> Create a Comment
  <% end %>

  <%= link_to 'Delete Student', student_path(@student), method: :delete, class: 'btn btn-danger'  %>
