<h1><%= @student.name%></h1><br>

<h4>Best Subject: <%= @student.best_subject%></h4>
<h4>Worst Subject: <%= @student.worst_subject%></h4>
<h4>Commented on: <%= @student.comment_count%> times</h4>
<h4>Rated: <%= @student.ratings_count%> times</h4>
<h4> Number of Likes: <%= @student.like_count%></h4>
  <ul>
    <% @student.ratings.each do |rating| %>
    <h3><%= link_to 'Rating', rating_path(rating) %></h3>
       <li>Author: <%= rating.author %></li>
       <li>Behavior: <%= rating.discipline %></li>
       <li>Learning Style: <%= rating.learning_style %></li>
       <li>Effort: <%= rating.grit %></li>
       <li>Subject: <%= rating.subject%></li>
       <li>Final Grade: <%= rating.gpa %></li>

    <% end %>
  </ul>


  <%= link_to new_comment_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-plus"></i> Create a Comment
  <% end %>

  <%= link_to 'Delete Student', student_path(@student), method: :delete, class: 'btn btn-danger'  %>
