<div class='container'>
<% if flash[:error] %>
<label>Form could not be submitted due to: </label>
  <% flash[:error].each do |err|%>
    <li><%= err %></li>
  <% end %>
<% end %>
<h3>Year End Report</h3><br>
<%= form_for @rating do |f| %>
<%= f.label :discipline, "Behavior" %><br>
<%= f.number_field :discipline, placeholder: " Rate from 1-10" %><br>

<%= f.label :learning_style, "Learning Style:" %><br>
<%= f.text_field :learning_style, placeholder: "Learning Style" %><br>

<%= f.label :grit, "Effort" %><br>
<%= f.number_field :grit, placeholder: "Rate from 1-10" %><br>

<%= f.label :subject, "Subject" %><br>
<%= f.text_field :subject, placeholder: "Subject" %><br>

<%= f.label :gpa, "Final Grade" %><br>
<%= f.number_field :gpa, class: :text_field, step: 0.1, placeholder: "Rate from 1-5" %><br>



<br><%= f.label :student, "Select a Student" %><br>
<%= f.collection_select :student_ids, @students, :id, :name %><br>

<%= f.submit %>
<% end %>
</div>
