<h2>Progress Report For: <%=link_to @student.name, student_path(@student) %></h2><br>

<h3>From: <%=@rating.author %> </h3><br>
<h4>
  Behavior: <%= @rating.discipline %><br>
    Learning Style: <%= @rating.learning_style %><br>
     Effort: <%= @rating.grit %><br>
     Subject: <%= @rating.subject %><br>
      Final Grade: <%= @rating.gpa %><br>
        </h4>

        <%= link_to new_student_path, class: 'btn btn-success' do %>
          <i class="glyphicon glyphicon-plus"></i> Create Another Student
        <% end %>

        <%= link_to new_comment_path, class: 'btn btn-success' do %>
          <i class="glyphicon glyphicon-plus"></i> Create Another Comment
        <% end %>
<%= link_to 'Delete Rating', rating_path(@rating), method: :delete, class: 'btn btn-danger'  %>
