<h2>Welcome, <%= @teacher.username %>. <%= @teacher.student_count %></h2>

<h3>Your students are:</h3>

<ul>
  <% @teacher.students.each do |student| %>
    <li><%= link_to student.name, student %></li>
  <% end %>
</ul>

<h3>Your Top Student: <%= @top_student  %></h3>
<h3>Your Worst Student: <%= @worst_student %></h3>
<%= link_to new_student_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Create New Student
<% end %>

<%= link_to new_comment_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Create Comment for Existing Student
<% end %>

<%= link_to new_rating_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Create Rating for Existing Student
<% end %>
