<h2>Welcome, <%= @teacher.username %>. <%= @teacher.student_count %></h2>
<h3><%= @comment_count %></h3>
<h3>You have given: <%= @teacher.teacher_likes_count %> likes </h3>
<h4>Your students are:</h4>

<ul>
  <% @teacher.students.each do |student| %>
    <li><%= link_to student.name, student %></li>
  <% end %>
</ul>

<%if current_teacher.students.count > 0 %>
<h4>Don't forget to give some extra praise to <%= @random_student %> today. </h4>
<% end %>


<%= link_to new_student_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Create New Student
<% end %>

<%= link_to new_comment_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Create Comment for Existing Student
<% end %>

<%= link_to new_rating_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Create Rating for Existing Student
<% end %>
