<!DOCTYPE html>
<html>
  <head>
    <title>RateMyStudents</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navigation' %>
    <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-3">
          <h4>Menu</h4>
          <p><%= link_to 'Profile', root_path %></p>
          <p><%= link_to 'Create a New Student', new_student_path%></p>
          <p><%= link_to 'All Comments', comments_path%></p>
          
        </div>
        <div class="col-xs-9">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
